# Ignore Gradle project-specific cache directory
.gradle

# Ignore bin files
app/bin

# Ignore kls_database.db file
kls_database.db

# Ignore local config files
*.props

# Ignore .settings file
*.prefs
